@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-default: #1896ff;
    --color-primary-200: #99d0ff;
    --color-primary-500: #1896ff;

    --color-secondary-default: #a8a8a8;
    --color-secondary-100: #e7e7e7;
    --color-secondary-500: #a8a8a8;
    --color-secondary-900: #272727;

    --color-success: green;
    --color-warning: yellow;
    --color-danger: red;

    --color-header: #e7e7e7;
    --color-footer: #e7e7e7;
    --color-section: #e7e7e7;
}
